body {
    background: #9b59b6;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    padding-top: 100px;
}

#buttons {
    display: flex;
    gap: 20px;
}

.btn, .stop {
    background: #5e2a84;
    padding: 12px 25px;
    border: none;
    color: #fff;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
}

.btn:hover, .stop:hover {
    opacity: 0.8;
}
